*{
    margin:0;
padding: 0;
box-sizing: border-box;
font-family: 'Lato',Arial, Helvetica, sans-serif;
}

body {
background: linear-gradient(to right, #f6f7fb, #eef1f7);
 }

#p_1
{
color: lightslategray;
font-family: Arial, Helvetica, sans-serif;
 margin-left: 30px;
}
span{
    color:red;
}
a{
    color: rgb(61, 61, 61);
    text-decoration: none;
}
.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    background-color: white;
    border-bottom: 1px solid #e5e7eb;
}

.logo {
    font-weight: 600;
    color: white;
    background-color: #8b5cf6;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 14px;
}
    nav a {
    margin-left: 30px;
    text-decoration: none;
    color: #6b7280;
    font-size: 15px;
    transition: 0.2s;
}

nav a:hover {
    color: #111827;

color: rgb(162, 76, 196);
    background-color: #f3f4f6;
    border-radius: 6px;  
    padding: 7px;
}

nav a.ativo {
    background-color: #f3f4f6;
    padding: 6px 12px;
    border-radius: 6px;
    color: rgb(162, 76, 196);
    font-weight: 500;
}


.titulo1{
    font-size: 32px;
margin-top: 20px;
margin-left: 30px;
}
.formulario{
display: flex;
flex-direction: column;
}
#tit_2{
    display: flex;
    justify-content: center;
    align-items: center;
margin-bottom: 20px;
}
.formulario1{
    background-color: white;
    max-width: 400px;
    padding: 30px;
    margin-top: 0px;
    margin-left: 500px;
    margin-bottom: 50px;
    border-radius: 15px;   
}
label{
    font-size: 18px;
    font-weight: 500;

}
input, select, textarea{
    padding: 12px;
    border-radius: 6px;
    width: 100%;
}
button{
    margin-top: 10px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}
.cancelar{
    background-color: grey;
    padding: 12px 20px;
    font-size: 14px;
    color:white;
}
.salvar{
    background-color:rgb(154, 55, 247);
    color: white;
    white-space: nowrap;
    padding:12px 20px;
    font-size: 14px;
}
.botoes{
    margin-top: 40px;
    display: flex;
    max-width: 400px;
    gap: 300px;
}